@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$bg1:#ffb400;
$bg2:#111111;
$text-color:#fff;
$btn-color:#2B2A2A ; 
$bg-text:#212121;
$mb-btn-color:#444;

*{
   margin:0 ;
   padding: 0;
   box-sizing: border-box;
}
body{
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

section{
    
    height: 100vh;
    .left{
        position: absolute;
        z-index: -1;
        top: -30px;
        left: -100px;
        background-color: #ffb400;
        width: 28%;
        height: 150vh;
        transform: rotate(-15deg);
    }
    .right{
        position: absolute;
        z-index: -2;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $bg2;
    }
    .container{
        display: flex;
        height: 100vh;
        padding: 2% 3%;
        padding-right: 0%;
        .image{
            position: relative;
            background-color: black;
            background-size: cover;
            background-position: 50% -60%;
            background-repeat: no-repeat;
            width: 34%;
            border-radius: 30px;
            box-shadow: 0 0 7px rgb(0 0 0 / 90%);
        }
        .text{
            color: $text-color;
            width: 55%;
            padding: 12% 2% 14% 6%;
            margin-left: 6%;
                .name , .profession{
                    font-family: 'Poppins', sans-serif;
                    font-size: 54px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 60px;
                    position: relative;
                    margin-left: 80px;
            }
                .name{
                    color: $bg1;
                    
                    &::before{
                        content: "";
                        left: -80px;
                        position: absolute;
                        top: 50%;
                        height: 4px;
                        width: 40px;
                        border-radius: 30px;
                       background-color: $bg1;
                    }
                }
                p{
                    font-size: 16px;
                    line-height: 32px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    padding: 3% 5% 3% 0;
                }
                a{
                    position: relative;
                    font-size: 15px;
                    font-weight: 600;
                    z-index: 1;
                    top: 32px;
                    padding: 16px 16px 16px 36px;
                    padding-right: 0%;
                    border-radius: 75px 75px;
                    border: 1px solid $bg1;
                    color: $text-color;
                    text-overflow: ellipsis;
                    text-decoration: none;
                    text-transform: uppercase;
                    
                   &::before{
                        z-index: -3;
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0%;
                        left: 0;
                        bottom: 0%;
                        opacity: 0;
                        background-color: $bg1;
                        border-radius: 50%;
                        transform: scaleX(0.2);
                        transform-origin: right;
                        transition: 0.2s ease-out;  
                   }
                   &:hover::before{
                    // transform: translateX(0%);
                    transform: scaleX(1);
                    z-index: -1;
                    opacity: 1;
                    border-radius: 75px 75px;
                    
                    }
                    span{
                        background-color: $bg1;
                        padding: 16px 18px;
                        margin-left: 12px;
                        border-radius: 50%;
                    }
                }
        }
       
    }
}
.nav{
    position: absolute;
    right: 12px;
    top: 50%;
     width: 10%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     z-index: 10;
     ul{
         list-style-type: none;
         width:50px ;
         position: absolute;
         right: 16px;
         justify-content: space-between;
         .active{
             background-color: $bg1;
         }
         li{
             position: relative;
             text-align: center;
             margin: 18px auto;
             line-height: 50px;
             background-color: $btn-color;
             width: 50px;
             height: 50px;
             border-radius: 50%;
             color: $text-color;
             transition: 0.2s;
             text-transform: uppercase;
             font-weight: 500;
            a {
                color: $text-color;
             }
             i{
                 position: relative;
                 z-index: 1;
                
             }
             span{
                 position: absolute;
                 top: 0%;
                 right: 0%;
                 opacity: 0;
                 border-radius: 30px;
                 background-color: $bg1;
                 z-index: -1;
                 transition: 0.2s ease-in-out;
                 
             }
             &:hover span{
              z-index: 0;
              opacity: 1;
             width: fit-content;
              text-align: left;
              padding:0 20px;
              padding-right: 60px;
             }
         }
         
     }
     
 }

@media only screen and (max-width: 1300px){
   section{
       .container{
           .text{

               margin-left: 0;
               .name , .profession{
                font-size: 42px;
                   margin-left: 0%;
               }
               .name{
                    &::before{
                        content: none;
                    }
                
               }
           }
       }
   }
}
@media only screen and (max-width: 1100px){
    section{
        .container{
            .text{
                padding-left: 8%;
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    body{
        overflow-y: scroll;
        background-color: $bg2;
    }
    section{
        .left{
            height: 0;
        }
        .container{
            flex-direction: column;
            // justify-content: start;
            height: fit-content;
            .image{
                margin: 16px auto 0;
                width: 270px;
                height: 270px;
                border-radius: 50%;
                background-position: unset;
                border: 4px solid #252525 ;
            }
            .text{
                padding: 32px 3% 160px;
                margin: auto;
                width: 70%;
                text-align: center;
                .name , .profession{
                    font-size: 38px;
                    line-height: 48px;
                }
            }
        }
    }
    .nav{
        height: 60px;
        position: fixed;
        flex-direction: row;
        top: unset;
        bottom: 0%;
        right: unset;
        margin: auto;
        width: 100%;
        background-color: $btn-color;
        align-items: center;
        ul{
            right: 0%;
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;

            li{
                width: 45px;
                height: 45px;
                background-color: $mb-btn-color;
                span{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 800px){
    section{
        .container{
            .text{
                width: 80%;
                padding: 32px 0% 160px;
            }
        }
    }
}
@media only screen and (max-width: 600px){
    section{
        .container{
            .image{
                width: 230px;
                height: 230px;
            }
            .text{
                .name , .profession{
                    font-size: 29px;
                    line-height: 40px;
                }
                width: 80%;
                padding: 32px 0% 160px;
            }
        }
    }
}

@media only screen and (max-width: 400px){
    section{
        .container{
            .text{
                width: 95%;
                
            }
        }
    }
}